{%extends 'all-images/base.html'%}
{% block content %}


<div class="container" style=" padding-bottom: 130px; padding-top: 115px;">

  <div class="row">
    {% if images%}
    <h2> {{ images|length }}  image found for {{message}}</h2>
   <marquee> find more images by specifying the category you want.</marquee>
    {% else %}
   <div class="container">

      <h1 style="color:green" > {{message}}  couldn't be found.</h1>
      <p>Please search the image name or view image categories below</p> 
      
{% endif %}

  </div>





  {% if images %}
  <div class="row" style="background-color:orangered">
    {% for image in images %}
    <div class="col-md-4">
       <h1>{{image.name}}</h1>
      <div class="hovereffect">
        <!-- <img src="{{image.image.url}}" class="img-responsive"  height="300px" width="300px"> -->
        <div class="overlay">
         
          <p>{{image.comment}}</p>
        </div>
        <p> <strong>{{image.like}}</strong></p>
      </div>
    </div>

    {% endfor %}
  </div>
  {% endif %}
</div>

{% endblock %}