<nav class="navbar navbar-right-lg navbar-light " style="overflow:visible; position: fixed; z-index: 1; top: 0; width: 100%; padding: 30px; background-color: rgb(10, 54, 248); background: linear-gradient(rgb(3, 56, 87), rgba(122, 34, 110, 0.5) );" >
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Home</a>
  
      </div>
   
    
      <div class="col-sm-4 col-md-4 navbar-right">       
  
        <form class="form-inline my-2 my-lg-10" role="search" action="">
  
          <div class="input-group">
            <input type="text" class="form-control" placeholder="search by name ..." name="image">
            <div class="input-group-btn">
              <button class="btn btn-outline-success" type="submit"><i class="glyphicon glyphicon-search"></i>Search</button>
            </div>
          </div>
  
        </form>
      </div>
  
  
    </div>
  </nav>



  
  