{% extends 'base.html' %} {% load bootstrap3 %} {% block content %} {{block.super}}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h1>View Your Details here</h1>
      <p><a href="{% url 'profile' %}" class="btn btn-success">Back to Profile</a></p>
      {% if user.is_authenticated %}
      <p>{{user.first_name | title}} {{user.last_name | title}}</p>
      <p>username: <i>{{user.username | title}}</i></p>
      <p>Email Address: {{user.email}}</p>
      <p>You joined instagram on: <i>{{user.date_joined}}</i></p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}