{% extends 'base.html' %} {% load bootstrap3 %} {% block content %} {{block.super}}
<div class="container">
  <h2>Upload Image</h2>
        </div>
        <div class="card-body">
          <form action="{%url 'upload' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %} {% bootstrap_form form %}
            <div class="form-group">
              <input type="submit" class="btn btn-info btn-sm" value="Post">
            </div>
            <input type="hidden" name="next" value="{{next}}">
          </form>
        </div>

        <style>
          img{
            border-radius: 50%;
          }
        </style>
  


{% endblock %}
